# ==================================================================================================
# requirements_light.txt
# --------------------------------------------------------------------------------------------------
# Versione leggera Windows:
#   - niente ultralytics
#   - niente torch
#   - OpenCV con supporto GUI
# ==================================================================================================

opencv-python
numpy
requests
